/****************FONTS*******************/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/****************CUSTOM*******************/
body{
	font-family: 'Montserrat', sans-serif !important;
	font-size: 14px;
	color: #333;
}
.header{
	background: rgba(0, 0, 0, 0.3);
	box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2); 
}
.header .top{
	padding-top: 15px;
	padding-bottom: 15px;
	/*background:#333;*/
	background: rgba(51, 51, 51, 0.38);
	color: #eee;
}
.header .top a{
	color: #eee;
}
.header .top a i {
	padding-left: 15px;
}

/****************MENU*******************/
.header .menu .nav-item {
	padding-left: 2px;
	padding-right: 0px;
}

.header .menu .navbar .navbar-toggler {
	background: rgba(225, 225, 225, 0.5);
}

.header .menu .nav-item .nav-link, .header .menu .nav-item .nav-link i{
	color: #fff;
}

/****************ABOUT*******************/
.about {
	margin-top: 100px;
}

.about .col-md-12 {
	padding-bottom: 36px;
}

/* .about .card img { */
	/* max-height: 320px; */
	/* overflow: hidden; */
/* } */

/****************NEWS*******************/
.news {
	margin-top: 100px;
	background: rgba(0, 0, 0, 0.1);
	padding: 20px;
}

.new .col-md-12 {
	padding-bottom: 36px;
}

.news .my-crop {
	max-height: 240px;
	overflow: hidden;
}

/****************SECSIONS*******************/
.secsions {
	margin-top: 100px;
	background: rgba(0, 0, 0, 0.1);
	padding: 20px;
}

.secsions .col-md-12 {
	padding-bottom: 36px;
}

.secsions .tab-content .media .img-crop {
	width: 30%;
	max-height: 100px;
	overflow: hidden;
}

.secsions .tab-content .media .media-body {
	margin-left: 8px;
}

.mytitle{
	padding: 10px!important;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 8px;
}

/****************FOOTER*******************/
.footer {
	margin-top: 100px;
	background: rgba(0, 0, 0, 0.6);
	padding: 20px;
	color: #000;
}

.footer ul li {
	list-style: none;
}

.footer ul li a {
	color: inherit;
	font-size: 1 1em;
}

.footer .footer-bottom {
	margin-top: 50px;
	color: #222;
}

/****************MEDIAS*******************/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.header .top {
		display: none;
	}
	
	.about, .news, .secsions {
		margin-top: 48px;
	}
	
	.about .accordion {
		margin-top: 12px;
	}
	
	.frmContact .form-group label{
		text-align: left !important;
	}
	
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.header .top {
		display: none;
	}
	
	.news .my-crop {
		max-height: 160px;
	}
	
	.about, .news, .secsions {
		margin-top: 48px;
	}
	
	.about .accordion {
		margin-top: 12px;
	}
	
	.frmContact .form-group label{
		text-align: left !important;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}