
.mytitle {
	width: 100%;
	padding: 10px;
	background: #666;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.view-content table .NAME {
	width: 10vw;
	font-weight: bold;
}

.view-content table .ADDRESS {
	width: 20vw;
}

.view-content table .PHONE,
.view-content table .LOGINED {
	text-align: center;
}

.view-content table .IMAGE {
	width: 10vw;
}


/* Extra small devices (portrait phones, less than 480px) */
@media (max-width: 479.98px) {
	.frmUser .form-group label{
		text-align: left !important;
	}
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 480px) and (max-width: 575.98px) {
	.frmUser .form-group label{
		text-align: left !important;
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.frmUser .form-group label{
		text-align: left !important;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}

